.header {
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: space-between;
  align-items: flex-start;
}

.content-bus {
  background-color: #29c4e2;
  width: 15%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-content-bus {
  height:0px;
  border-bottom:60px solid transparent;  /* izquierda flecha */
  border-top:60px solid transparent; /* derecha flecha */
  border-left:25px solid #29c4e2; /* base flecha y color*/
  font-size:0px;
  line-height:0px;
}

.next {
  background-color: #ffffff;
  width: 65%;
  height: 120px;
}

.title-step {
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin-left: 40px;
  margin-top: 10px;
}

.time {
  background-color: #e6e6e6;
  width: 20%;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow-time {
  height:0px;
  border-bottom:60px solid transparent;  /* izquierda flecha */
  border-top:60px solid transparent; /* derecha flecha */
  border-left:25px solid #ffffff; /* base flecha y color*/
  font-size:0px;
  line-height:0px;
}

.min {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  margin-bottom: 20px;
}

.content-min {
  margin: 0 auto;
}

.minutes {
  font-size: 90px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
  margin: 0 auto;
}