.content {
  background-color: #4d4d4d;
  position:absolute;      
  height: 100%;
  width: 100%; 
  z-index:-1;    
}

.button-fullscreen {    
  position:absolute;     
  bottom:1px; 
  width:99%;  
  text-align:right;
}